1 VERSIONINFO
FILEVERSION 1,0,3,0
PRODUCTVERSION 1,0,3,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "ByteCave"
      VALUE "FileDescription", "Eldarian Odyssey Text Adventure Game"
      VALUE "FileVersion", "1.03"
      VALUE "InternalName", "EldarianOdyssey"
      VALUE "LegalCopyright", "Copyright 2018-2026, ByteCave"
      VALUE "OriginalFilename", "EldarianOdyssey-x64.exe"
      VALUE "ProductName", "Eldarian Odyssey"
      VALUE "ProductVersion", "1.03"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
